/* Landscape media queries from .isresponsive.com*/

@media screen and (min-width: 320px) and (max-width: 480px), (min-device-width: 320px) and
(max-device-width: 480px) and (orientation : landscape) {
    header{
      height: 100px;
    }

    .anchor {
      height: 100px;
      }

      header nav {
        font-size: 15px;
    }

    header nav ul li {
      width: 80px;
    }

    div.flexbox.row {
      flex-direction: column;
      align-items: center;
        }

        aside.section-label {
          border-right: none;
          border-bottom: 3px solid var(--morningglory);;
      }
}

@media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {
    header{
      height: 150px;
    }

    .anchor {
      height: 150px;
      }

      header nav {
        font-size: 15px;
    }


    div.flexbox.row {
      flex-direction: column;
      align-items: center;
        }

        aside.section-label {
          border-right: none;
          border-bottom: 3px solid var(--morningglory);;
      }
  }

  @media screen and (max-width: 360px), (min-device-width: 360px) and (max-device-width: 640px) and (orientation : portrait) {
    header{
      height: 150px;
    }

    .anchor {
      height: 150px;
      }

      header nav {
        font-size: 15px;
    }

    

div.flexbox.row {
  flex-direction: column;
  align-items: center;
    }

    aside.section-label {
      border-right: none;
      border-bottom: 3px solid var(--morningglory);;
  }
}
