:root {

/* Light Mode Color Scheme */
  --morningglory: #4287f5;
  --white: #fff;
  --sun: rgb(248, 245, 85);

  /*Dark Mode Color Scheme */
  --survival: #c51616;
  --darkness: #060641;
  --truth: #f7f7f7d3;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--white);
  height: 100vh;
  font-size: large;
}

body.darkmode {
  background-color: var(--darkness) !important;
}

header {
  padding: 20px;
  height: 50px;
  background-color: var(--morningglory);
  position: fixed;
  width: 100vw;
  border-bottom: 3px double var(--sun);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: auto;
}

header.darkmode {
  background-color: var(--survival);
  border-bottom: 3px double var(--truth);
}

div#hero{
  margin-top: 50px;
}

header nav {
  font-size: 20px;
}

header nav ul {
  list-style-type: none;

  /*Create a flexbox for the nav items */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

header nav ul li {
  border-radius: 8px;
  width: 100px;
  text-align: center;
  border: 2px solid var(--white);
  margin: 5px;
}

header nav ul li.darkmode {
  border: 2px solid var(--darkness) ;
}

/*Animation for the nav buttons*/
header nav ul li:hover {
  
  padding: 3px;
  transition: all 0.5s ease-in-out;

  box-shadow: inset 0px 0px 8px var(--white), 0 0 15px var(--sun);

}

header nav ul li:hover.darkmode{
  box-shadow: inset 0px 0px 8px var(--survival), 0 0 15px var(--truth);
}

a {
  color: var(--white);
  text-decoration: none;
}

a.darkmode{
  color: var(--darkness);
}

.anchor {
  display: block;
  height: 50px;
  margin-top: -100px;
  visibility: hidden;
  }

header nav ul li a {
  display: inline-block;
  width: 100%;
}

/*Special lobster font for my headline*/
h1 {
  color: var(--white);
  font-family: "Lobster", cursive;
  font-size: 30px;
  margin-right: 25px;
}

h1.darkmode {
  color: var(--darkness);
}

label{
  color: var(--white);
}

.darkmode label{
  color: var(--darkness);
}

#modeToggle{
  background-color: var(--white);
  color: var(--morningglory);
  padding: 5px;
}

.darkmode #modeToggle{
  background-color: var(--darkness);
  color: var(--survival);
}

#hero {
  height: 150px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/eveningsun.jpg");
  background-size: cover;
  background-position: center;

  /*Create a flexbox for the subheading*/
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/*Style and position for the gravitar*/
img{
  margin: 5px;
  margin-left: 15px;
  border: 1px solid white; 
  height: 100px;
  width: 100px;
}

#hero-subheading {
  align-self: flex-end;
  padding: 10px 50px 10px 50px;
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: var(--morningglory);
  color: var(--white);
  text-align: center;
}

#hero-subheading.darkmode{
  background-color: var(--survival);
}

/*Page wrapper*/
main.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 1.5;
}

/*Separate sections into rows*/
div.flexbox.row {
  display: flex;
  flex-direction: row;
  flex: 0 0 100%;
  margin-right: 10px;
  margin-bottom: 50px;
}

/*Style for content label*/
aside.section-label {
  flex: 0 0 15%;
  border-right: 3px solid var(--morningglory);
  margin-left: 10px;
}

aside.section-label.darkmode{
  border-right: 3px solid var(--survival);
}

h2 {
  height: fit-content;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  background-color: var(--morningglory);
  color: var(--white);
  margin: 10px;
  flex: 0 1 50%;
}

h2.darkmode{
  background-color: var(--survival);
}

/* Style for content sections*/
section.main-content {
  flex: 1 1 70%;
}

/*Style for About Me paragraph */

p.about-me {
  margin: 20px;
  background-color: var(--morningglory);
  color: var(--white);
  padding: 10px;
 
}

p.about-me a{
  text-decoration: underline;
}

p.about-me a.darkmode{
  text-decoration: none;
}

p.about-me.darkmode{
  background-color: var(--survival);
}


/*Style for work box */
section#work.main-content {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 1 1 100%;
}

a.project {
  flex: 0 1 45%;
  min-width: 200px;
  min-height: 150px;
  border: 3px solid var(--morningglory);
  margin: 20px;

  /*project image*/ /*ToDo: Replace dummy images with real project images*/
  background-image: linear-gradient(var(--white) 0%, var(--morningglory) 100%);
  background-size: 100% 100%;
  background-position: center;

  /*Display flex to position the label*/
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

a.project.darkmode{
  border: 3px solid var(--survival);
}

/*Animation for project boxes*/
a.project:hover {
  transition: all 0.5s ease-in-out;

  box-shadow: inset 0px 0px 8px var(--sun), 0 0 15px var(--sun);
}

a.project:hover.darkmode{
  box-shadow: inset 0px 0px 8px var(--truth), 0 0 15px var(--truth);
}

h2.project-label {
  text-align: left;
  width: fit-content;
}

span {
  font-size: 15px;
  margin-left: 10px;
}

a.project:first-child {
  flex: 0 1 60%;
  min-width: 200px;
  min-height: 250px;
  margin: 20px;

  /* project image */
  background-image: url(../images/sunshine-project-thumbnail.jpg);
  background-size: 100% 100%;
  background-position: center;
}

a.project:nth-child(2){
    /* project image */
    background-image: url(../images/weatherboard-dashboard-project-thumbnail.jpg);
    background-size: 100% 100%;
    background-position: center;
}

a.project:nth-child(3){
  /* project image */
  background-image: url(../images/code-quiz-project-thumbnail.png);
  background-size: 100% 100%;
  background-position: center;
}

section#contact.main-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

div.contact-item,
a.contact-item {
  margin: 20px;
  padding: 20px 30px 20px 30px;
  border-radius: 8px;
  background-color: var(--morningglory);
  color: var(--white);
}

div.contact-item.darkmode,
a.contact-item.darkmode{
  background-color: var(--survival);
}

div.contact-item:hover,
a.contact-item:hover {
  transition: all 0.5s ease-in-out;

  box-shadow: inset 0px 0px 8px var(--sun), 0 0 15px var(--sun);
}

div.contact-item:hover.darkmode,
a.contact-item:hover.darkmode{
  box-shadow: inset 0px 0px 8px var(--truth), 0 0 15px var(--truth);
}

/*Media Queries to patch up the Header, About Me paragraph, and Contact items*/
@media screen and (max-width: 950px) {

  body{
    font-size: medium;
  }
  
  header {
    height: 150px;
  }

  .anchor {
    height: 150px;
    }

  div#hero{
    margin-top: 150px;
  }

  div.contact-item,
  a.contact-item {
    flex: 1 1 50%;
  }
}

@media screen and (max-width: 525px) {

  body{
    font-size: medium;
  }

  p.about-me {
    width: 250px;
  }

  aside.section-label {
    min-width: 30%;
  }

  h2{
    font-size: medium;
  }
  
  span{
    font-size: smaller;
  }
  
}

  @media screen and (max-width: 480px) {
    body{
      font-size: small;
    }

    header {
      height: 200px;
    }

    .anchor {
      height: 200px;
      }

    div#hero{
      margin-top: 200px;
    }

    div.contact-item,
    a.contact-item {
      max-width: 190px;
      padding-left: 10px;
    }

    p.about-me {
      width: 190px;
    }

    div#hero-subheading {
      width: 150px;
      padding: 5px;
    }

    h2{
      font-size: small;
    }

    h2.project-label {
      font-size: medium;
    }

    span{
      font-size: smaller;
    }
  }

  /* Landscape media queries from .isresponsive.com*/

  @media screen and (min-width: 320px) and (max-width: 480px), (min-device-width: 320px) and
(max-device-width: 480px) and (orientation : landscape) {
    header{
      height: 100px;
    }

    .anchor {
      height: 100px;
      }
}

@media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {
    header{
      height: 200px;
    }

    .anchor {
      height: 200px;
      }
  }

